.timeline {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #9AB1C1;
  left: 15px;
}

.timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline-item:before, .timeline-item:after {
  content: '';
  display: table;
}

.timeline-item:after {
  clear: both;
}

.timeline-item .timeline-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  text-align: center;
  line-height: 30px;
  color: black;
  border: 3px solid #fff;
}

.timeline-item .timeline-content {
  width: calc(100% - 40px);
  margin-left: 40px;
  background: transparent;
  padding: 20px;
  border: none;
  box-shadow: none;
}

.timeline-title-style {
  font-family: sans-serif;
  color: #333;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
}

.timeline-subtitle-style {
  font-family: sans-serif;
  color: #333;
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
}

.timeline-text-style {
  font-family: sans-serif;
  color: #605F5E;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.timeline-value-style {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
}
